/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: rgb(82, 241, 135);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
    background-color: rgb(5, 128, 66);
}

header .client_currency{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 5px;
    background: rgb(7, 97, 27);
    border-radius: 5px;
    color: white;
}
h1  {
    display: block;
    font-size: 80px;
    margin: 20px;
    text-align: center;
    margin-top: 0;
}
ul {
    display: block;
    text-align: center;
    background-color: rgb(7, 97, 27);
    color: white;
    padding: 10px 0;
}

li {
    display: inline;
    margin-left: 15px;
}

li:first-child {
    margin-left: 0;
}

li span {
    display: inline;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(24, 199, 126);
    text-align: center;
}

.preload h2 {
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 20px;
}
.preload select{
    margin-right: 20px;
}

section{
    width: 80%;
    margin: 30px auto;
    background-color: rgb(159, 247, 178);
    text-align: center;
    padding: 180px 0;    
}

.row {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
}

section input, section select {
    font-size: 28px;
}

section button {
    height: 40px;
    padding: 10px;
    font-weight: bold;
}